<div class="container-fluid">
  <h1> Exemple de Template Driven Form</h1>
  {{userForm.value|json}}
  <form  #userForm="ngForm">
    <div class="form-group">
      <label>Nom</label>
      <input  type="text" 
      required
       #nom="ngModel" 
       [class.is-invalid]="nom.invalid" 
      class="form-control " 
      name="nom"
       [(ngModel)]="user.nom"
       >
    </div>
    {{nom.invalid}}
    <div class="form-group">
      <label>Email</label>
      <input  #email="ngModel" type="email" name="email"  [class.is-invalid]="email.touched" class="form-control" [(ngModel)]="user.email">
    </div>
    {{email.valid}}

    <div class="form-group">
      <select  name="statut" class="form-control" [(ngModel)]="user.statut" >
        <option selected>Je suis ...</option>
        <option *ngFor="let statut of statuts">{{statut}}</option>
      </select>
    </div>

    <div class="mb-3">
      <label>Nationalité</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="nationalite" value="tn" [(ngModel)]="user.nationalite">
        <label class="form-check-label">Tunisien</label>
      </div>
     
      <div class="form-check">
        <input class="form-check-input" type="radio" name="nationalite" value="autre" [(ngModel)]="user.nationalite">
        <label class="form-check-label">Autre</label>
      </div>
    </div>


    <div class="form-check mb-3">
      <input class="form-check-input" type="checkbox" [(ngModel)]="user.termes" name="termes">
      <label class="form-check-label">J'accepte les termes</label> 
    </div>



  </form>
</div> 